{% extends 'yt_app/base.html' %}

{% block body %}

<div class="down-sec mt-3 d-flex flex-column align-items-center">

    <div class="yt-thumb d-flex flex-column align-items-center">
        <a href="https://youtu.be/K4DyBUG242c" target="_blank">
            <img src="{{thumbnail}}" alt="thumbnail" width="300" height="180">
        </a>
        <h2 class="mt-3 mb-4 mx-2">{{title}}</h2>
    </div>

    <h2 class="underline">Download Below</h2>

    <div class="yt-video mt-3">
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Resolution</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% if videos %}
                {% for i in videos %}
                <form action="/download/" method="post" class="form">
                    {% csrf_token %}
                    <tr>
                        <td>{{i.0.mime_type}}</td>
                        <td>{{i.0.resolution}} ({{i.1}}MB)</td>
                        <input type="hidden" name="url" value="{{url}}">
                        <input type="hidden" name="itag" value="{{i.0.itag}}">
                        <td><button class="btn btn-success btn-sm" type="submit">Download</button></td>
                    </tr>
                </form>
                {% endfor %}
                {% endif %}
                
                {% if audios %}
                <form action="/download/" method="post" class="form">
                    {% csrf_token %}
                    <tr>
                        <td>audio/mp3</td>
                        <td>{{audios.0.abr}} ({{audios.1}}MB)</td>
                        <input type="hidden" name="url" value="{{url}}">
                        <input type="hidden" name="itag" value="{{audios.0.itag}}">
                        <td><button class="btn btn-success btn-sm" type="submit">Download</button></td>
                    </tr>
                </form>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>


{% endblock body %}

